<footer class="rqs-footer">
  <hr class="footer-divider" />

  <div class="footer-container">

    <div class="footer-column brand-column">
      <h3>RAQUEL SYNTHS</h3>
      <p class="copyright-line">© 2025 RQS Universe.</p>
      <p class="copyright-line">Code & Music by Kelma & Broklin.</p>
      <p class="copyright-line" style="margin-top: 10px; font-size: 0.8rem; opacity: 0.7;">
        Feito com Angular 20 & Café ☕
      </p>
    </div>

    <div class="footer-column">
      <h3>OUÇA AGORA</h3>
      <ul class="nav-list">
        <li><a href="https://open.spotify.com/intl-pt/artist/1yrPZaFyIcsCjj876LaHXL?si=Qd2pr8ueQPuF-OwfqKGMUQ" target="_blank">Spotify</a></li>
        <li><a href="https://soundcloud.com/you/albums" target="_blank">SoundCloud</a></li>
        <li><a href="https://www.youtube.com/channel/UC4XQ29bhRmhxvYT9-4a9Otw" target="_blank">YouTube</a></li>
        <li><a href="https://raquelsynths-rqs.bandcamp.com/music" target="_blank">Bandcamp</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h3>CONECTE-SE</h3>
      <ul class="nav-list">
        <li><a href="https://www.instagram.com/rqs_synths" target="_blank">Instagram</a></li>
        <li><a href="https://www.tiktok.com/@raquel_holanda_" target="_blank">TikTok</a></li>
        <li><a href="https://x.com/anaraquel00" target="_blank">X / Twitter</a></li>
        <li><a style="cursor: pointer;" (click)="openDonation()">Apoie (Paypal/Pix)</a></li>
      </ul>
    </div>

  </div>
</footer>
