<footer class="rqs-footer">
  <hr class="footer-divider" />
  <div class="footer-container">
    <div class="footer-column copyright-column">
      <p class="copyright-line">© 2025 Raquel Synths</p>
      <p class="copyright-line">© Todos os direitos reservados.</p>
    </div>
    <div class="footer-column links-column">
        <ul class="nav-list">
        <li><a href="#">Spotify</a></li>
        <li><a href="#">SoundCloud</a></li>
        <li><a href="#">YouTube</a></li>
        <li><a href="#">Neon Store</a></li>
        <li><a href="#">Sobre</a></li>
      </ul>
    </div>
    <div class="footer-column links-column">
        <ul class="nav-list">
        <li><a href="#">Bandlab</a></li>
        <li><a href="#">Paypal</a></li>
        <li><a href="#">Mercado Pago</a></li>
        <li><a href="#">GitHub</a></li>
        <li><a href="#">Instagram</a></li>
      </ul>
    </div>
    <div class="footer-column links-column">
        <ul class="nav-list">
        <li><a href="#">X</a></li>
        <li><a href="#">Threads</a></li>
        <li><a href="#">Notion</a></li>
        <li><a href="#">SunoAI</a></li>
        <li><a href="#">Sobre mim</a></li>
      </ul>
    </div>
  </div>
</footer>
