<mat-toolbar color="primary">
  <span style="cursor: pointer;" (click)="scrollTo('inicio')">RAQUEL SYNTHS</span>

  <span class="spacer"></span>

  <button mat-button (click)="translate.toggle()">
  {{ translate.isPt() ? '🇺🇸 EN' : '🇧🇷 PT' }}
  </button>

  <button mat-button (click)="activateBroklinMode()">
    <mat-icon>diamond</mat-icon> BROKLIN
  </button>
  <button mat-button (click)="activateJonahMode()">
    <mat-icon>warning</mat-icon> JONAH
  </button>

  <button mat-button (click)="scrollTo('sobre')">{{ navText.sobre }}</button>
  <button mat-button (click)="scrollTo('visual-novel')">{{ navText.visualNovel }}</button>
  <button mat-button (click)="scrollTo('discografia')">DISCOGRAFIA</button>

  <button mat-button (click)="openExternal('https://soundcloud.com/rqs_official/albums')">
    PLAYLIST <mat-icon iconPositionEnd>open_in_new</mat-icon>
  </button>

</mat-toolbar>
