<div class="terminal-overlay" (click)="closeTerminal()" [class.jonah-theme]="isJonahMode">
  <div class="terminal-window" (click)="$event.stopPropagation()">
    
    <div class="terminal-header">
      <span class="dot red" (click)="closeTerminal()"></span>
      <span class="dot yellow"></span>
      <span class="dot green"></span>
      <span class="title">
        {{ isJonahMode ? 'RUST_VIRUS_INJECTOR.exe' : 'RQS_SECURE_UPLINK_V3.0.exe' }}
      </span>
    </div>

    <div class="terminal-body">
      @for (line of logs; track line) {
        <div class="log-line" [class.danger]="isJonahMode">
          <span class="prompt">></span> {{ line }}
        </div>
      }

      @if (!isFinished) { <span class="cursor">_</span> }

      @if (isFinished) {
        <div class="access-granted-panel fade-in">
          
          <h3 class="glitch-text" [class.danger-text]="isJonahMode">
            @if (isJonahMode) {
              {{ translate.isPt() ? '🛑 INICIAR CONTAMINAÇÃO' : '🛑 INITIATE CONTAMINATION' }}
            } @else {
              {{ translate.isPt() ? 'ACESSO CONCEDIDO' : 'ACCESS GRANTED' }}
            }
          </h3>
          
          <p>
            @if (isJonahMode) {
              {{ translate.isPt() ? '⚠️ Nenhum canal é seguro. Boa sorte.' : '⚠️ No channel is safe. Good luck.' }}
            } @else {
              {{ translate.isPt() ? 'Escolha um canal seguro:' : 'Choose a secure channel:' }}
            }
          </p>
          
          <div class="action-buttons">
            <a href="https://open.spotify.com/intl-pt/artist/1yrPZaFyIcsCjj876LaHXL?si=m6xr309tQw22RRERSvF2eQ" target="_blank" class="cyber-btn spotify">
              <i class="ph-spotify-logo"></i> SPOTIFY
            </a>
            <a href="https://youtube.com/@RaquelSynths" target="_blank" class="cyber-btn youtube">
              <i class="ph-youtube-logo"></i> YOUTUBE
            </a>
            <a href="https://soundcloud.com/rqs_official" target="_blank" class="cyber-btn soundcloud">
              <i class="ph-soundcloud-logo"></i> SOUNDCLOUD
            </a>
          </div>

          <button class="close-btn" (click)="closeTerminal()">
             @if (isJonahMode) {
                {{ translate.isPt() ? '[ ABORTAR MISSÃO ]' : '[ ABORT MISSION ]' }}
             } @else {
                {{ translate.isPt() ? '[ ENCERRAR CONEXÃO ]' : '[ TERMINATE CONNECTION ]' }}
             }
          </button>
        </div>
      }
    </div>
  </div>
</div>