<div class="lore-container">

  <header class="lore-header">
      <span class="season-tag">{{ story.season }}</span>
    <h1>{{ story.title }}</h1>
    <div class="meta-data">
      <span><i class="fas fa-user-edit"></i> Arquivo: Broklin Garpeter</span>
      <span><i class="fas fa-clock"></i> Tempo de Leitura: 5 min</span>
    </div>
    <div class="nav-back">
    <button class="btn-back" routerLink="/">
  <i class="fas fa-arrow-left"></i>
  {{ translate.isPt() ? 'VOLTAR PARA A BASE' : 'BACK TO BASE' }}
    </button>
  </div>
  </header>

  <article class="lore-content">
    <ng-container *ngFor="let paragraph of story.content">

      <app-ad-banner *ngIf="isAdBreak(paragraph)"></app-ad-banner>

      <p *ngIf="!isAdBreak(paragraph)" [innerHTML]="paragraph"></p>

    </ng-container>
  </article>

  <div class="lore-footer">
    <h3>
      {{ translate.isPt() ? 'Quer ver essa cena em movimento?' : 'Want to see this scene in motion?' }}
    </h3>

    <a href="https://youtube.com/playlist?list=SEU_PLAYLIST_LINK" target="_blank" class="cta-button">
      {{ translate.isPt() ? 'ASSISTIR A SÉRIE VISUAL' : 'WATCH THE VISUAL SERIES' }}
      <i class="fas fa-play"></i>
    </a>
  </div>

</div>
