<div class="home-container">

  <div class="hero-section">

    <div class="title-wrapper">
      <h1 class="hero-title" [attr.data-text]="navText.title">{{ navText.title }}</h1>
      <app-last-releases [lang]="translate.isPt() ? 'pt' : 'en'"></app-last-releases>
    </div>

    <p class="hero-subtitle">{{ navText.subtitle }}</p>

    <div class="hero-split-grid">
      
      <div class="grid-col left-col">
        <app-system-alert></app-system-alert> 
      </div>

      <div class="grid-col right-col">
        @if (safeSpotifyUrl) {
          <iframe
            data-testid="embed-iframe"
            style="border-radius:12px"
            [src]="safeSpotifyUrl"
            width="100%"
            height="152"
            frameBorder="0"
            allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
            loading="lazy">
          </iframe>
        } @else {
          <div class="empty-player-state" (click)="scrollTo('discografia')">
            <i class="ph-soundcloud-logo"></i>
            <p>{{ translate.isPt() ? 'Disponível no SoundCloud' : 'Available on SoundCloud' }}</p>
            <small>{{ featuredTrack?.title || 'Loading...' }}</small>
          </div>
        }
      </div>

    </div>
    <div class="hero-actions fade-in-up">
      <button class="btn-uplink" (click)="triggerUplink()">
       {{ translate.isPt() ? '📡 INICIAR UPLINK' : '📡 START UPLINK' }}
      </button>
   @if (showUplink) {
  <app-uplink-terminal (close)="closeUplink()"></app-uplink-terminal>
}
    </div>

  </div>
</div>