.home-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  overflow: hidden;
   //background-color: var(--bg-color); /* Fundo reage ao tema */
}

.hero-section {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  color: var(--text-color); /* Texto dinâmico */
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo preto 50% transparente só atrás do texto */
  backdrop-filter: blur(5px); /* Desfoca o universo atrás do texto (efeito vidro) */
  border-radius: 15px;
}

.hero-title {
  font-family: var(--font-heading); /* Fonte muda no modo Jonah */
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 1rem;
  /* Sombra dinâmica: Roxo no Broklin, Laranja no Jonah */
  text-shadow: 0 0 10px var(--primary-color), 0px -3px 20px #000000;
}

.hero-subtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-style: italic;
  color: var(--text-color);
  text-shadow: 3px -2px 3px var(--primary-color);
}

.hero-cta {
  padding: 10px 30px;
  font-size: 1rem;
  font-weight: bolder;

  /* Cores dinâmicas */
  border-color: var(--accent-color);
  color: var(--accent-color);
  background-color: rgba(0, 0, 0, 0);

  /* Angular Material overrides com variáveis */
  --mdc-outlined-button-label-text-color: var(--accent-color);
  --mat-mdc-button-persistent-ripple-color: var(--accent-color);

  transition: all 0.3s ease;
}

.hero-cta:hover {
  background-color: var(--accent-color);
  color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  --mdc-outlined-button-label-text-color: rgba(0, 0, 0, 0);
  box-shadow: 0 0 15px var(--accent-color); /* Brilho no hover */
}

