/* --- IMPORTAÇÕES DO ANGULAR MATERIAL --- */
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$magenta-palette,
      tertiary: mat.$violet-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
  scroll-behavior: smooth; /* Scroll suave para a One Page */
}

/* --- VARIÁVEIS BASE --- */
:root {
  --transition-speed: 0.5s;
}

/* --- CONFIGURAÇÃO PADRÃO DO BODY (MODO BROKLIN - PADRÃO) --- */
/* Aqui definimos que o site JÁ NASCE no modo Broklin */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.5s ease, filter 0.5s ease;

  /* VARIÁVEIS DO BROKLIN (Agora são o padrão!) */
  --primary-color: #6200ea;     /* Roxo */
  --accent-color: #06fd12;      /* Verde Neon */
  --text-color: #ffffff;        /* Texto Branco */
  --bg-color: #0a0a12;          /* Fundo Preto */
  --footer-bg: #000000;
  --footer-text: #86f863;
  --hero-overlay: rgba(0, 0, 0, 0.4);
  --font-heading: 'Roboto', sans-serif;

  /* Aplica as cores imediatamente */
  background-color: var(--bg-color);
  color: var(--text-color);

  /* IMAGEM DE FUNDO DO BROKLIN */
  background-image: url('public/images/broklin_universe.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* --- MODO JONAH (A Exceção / O Caos) --- */
/* Só aplicamos isso quando a classe for adicionada via botão */
body.mode-jonah {
  --primary-color: #bf360c;     /* Laranja Queimado */
  --accent-color: #ff5722;      /* Vermelho Alerta */
  --text-color: #e0e0e0;        /* Cinza Sujo */
  --bg-color: #1a1815;          /* Preto Óleo */
  --footer-bg: #1a1815;
  --footer-text: #bf360c;
  --hero-overlay: rgba(50, 20, 0, 0.7);
  --font-heading: 'Courier Prime', monospace;

  /* IMAGEM DE FUNDO DO JONAH */
  background-image: url('public/images/cyberpunk_industrial.png');

  /* Filtro de "Filme Velho" */
  filter: contrast(110%) sepia(20%);
}


