<div class="alert-wrapper-block">

  @if (isJonah) {
    <div class="alert-container jonah-style">
      
      <div class="alert-text-group">
        <div class="alert-header">
          <span class="alert-icon">☢️</span>
          <span class="log-prefix error-glitch">
            {{ translate.isPt() ? 'ERRO CRÍTICO:' : 'CRITICAL ERROR:' }}
          </span>
        </div>

        <div class="log-message">
          <span class="corrupted-text">
            {{ translate.isPt() 
               ? "ARQUIVOS DE MEMÓRIA CORROMPIDOS. [LIBERAÇÃO EM MARÇO]" 
               : "MEMORY FILES CORRUPTED. [RELEASING IN MARCH]" 
            }}
          </span>
          <br>
          <small class="sub-warning">
            ⚠️ {{ translate.isPt() ? 'Contém: Tensão e Heavy Metal.' : 'Contains: Tension & Heavy Metal.' }}
          </small>
        </div>
      </div>

      <div class="alert-action">
        <span class="btn-text locked">
          🔒 {{ translate.isPt() ? 'SINAL BLOQUEADO' : 'SIGNAL LOCKED' }}
        </span>
      </div>

    </div>
  }

  @else {
    <a routerLink="/visual-novel" class="cyber-alert-link">
      <div class="alert-container">
          
          <div class="alert-text-group">
              <div class="alert-header">
                  <span class="alert-icon">👁️</span>
                  <span class="log-prefix">
                      {{ translate.isPt() ? 'QUEM QUEBROU O JONAH CYPERFIELD?' : 'WHO BROKE JONAH CYPERFIELD?' }}
                  </span>
              </div>

              <div class="log-message" [innerHTML]="translate.isPt() 
                      ? 'Ele era um astro do Alt-Rock. Agora ele grita por vingança.<br>' 
                      : 'He was an Alt-Rock star. Now he screams for vengeance.<br>'">
                  <strong class="highlight-ep" [innerHTML]="translate.isPt() ? 'Descubra por quê.' : 'Find out why.'"></strong>.
              </div>
          </div>

          <div class="alert-action">
              <span class="btn-text" [innerHTML]="translate.isPt() ? '[ 📖 LEIA A HISTÓRIA<br>ORIGINAL ]' : '[📖 READ THE ORIGINAL<br>STORY]'">
              </span>
          </div>

      </div>
    </a>
  }

</div>