<div class="alert-wrapper-block">

  @if (isJonah) {
    <a routerLink="/visual-novel" class="cyber-alert-link"></a>
    <div class="alert-container jonah-style">
      
      <div class="alert-text-group">
        <div class="alert-header">
          <span class="alert-icon">☢️</span>
          <span class="log-prefix error-glitch">
            {{ translate.isPt() ? 'ERRO CRÍTICO:' : 'CRITICAL ERROR:' }}
          </span>
        </div>

        <div class="log-message">
          <span class="corrupted-text">
            {{ translate.isPt() 
               ? "ARQUIVOS DE MEMÓRIA CORROMPIDOS. [LIBERAÇÃO EM MARÇO]" 
               : "MEMORY FILES CORRUPTED. [RELEASING IN MARCH]" 
            }}
          </span>
          <br>
          <small class="sub-warning">
            ⚠️ {{ translate.isPt() ? 'Contém: Tensão e Heavy Metal.' : 'Contains: Tension & Heavy Metal.' }}
          </small>
        </div>
      </div>

      <div class="alert-action forensic-mode">
       <!--  <span class="btn-text">
           📂 {{ translate.isPt() ? 'ARQUIVO CONFIDENCIAL' : 'CONFIDENTIAL FILE' }}
        </span> -->
       <div class="jonah-counter-hack">
        <span class="warning-glitch">☢️ DATA LEAK DETECTED:</span>
        <p class="hacker-text">
       {{ translate.isPt() 
        ? 'Broklin tentou esconder o passado, mas a ferrugem sempre aparece.' 
        : 'Broklin tried to hide the past, but rust always shows through.' 
        }}
        <br>
       <span class="highlight-red">
        {{ translate.isPt() ? 'A SAGA COMEÇA DOMINGO.' : 'THE SAGA BEGINS SUNDAY.' }}
       </span>
         <br><br>
        </p>
        <span class="discord-backdoor" [routerLink]="['/visual-novel']">
        {{ translate.isPt() 
          ? '>_ ACESSO LIBERADO PARA INVESTIGAÇÃO' 
          : '>_ ACCESS GRANTED FOR INVESTIGATION' 
        }}
      </span>
         </div>
      </div>

    </div>
  }

  @else {
    <a routerLink="/visual-novel" class="cyber-alert-link">
      <div class="alert-container">
          
          <div class="alert-text-group">
              <div class="alert-header">
                  <span class="alert-icon">📖 </span>
                  <span class="log-prefix">
                      {{ translate.isPt() ? 'MERGULHE NA NOSSA VISUAL NOVEL' : 'IMMERSE YOURSELF IN OUR VISUAL NOVEL' }}
                  </span>
              </div>

              <div class="log-message" [innerHTML]="translate.isPt() 
                      ? 'Desbloqueie <strong>Ecos da RQS</strong>, <br>a história cyberpunk interativa que deu origem ao nosso som.' 
                      : 'Unlock <strong>Echoes of RQS</strong>,<br>the interactive cyberpunk story that gave rise to our sound.'">
                  <strong class="highlight-ep" [innerHTML]="translate.isPt() ? 'Descubra por quê.' : 'Find out why.'"></strong>.
              </div>
          </div>

          <div class="alert-action">
              <span class="btn-text" [innerHTML]="translate.isPt() ? '🎮 INICIAR EXPERIÊNCIA' : '🎮 START EXPERIENCE'">
              </span>
          </div>

      </div>
    </a>
  }

</div>